GOOGLE_API_KEY=AIzaSy_your_key_here
GOOGLE_GENAI_USE_VERTEXAI=False
GEMINI_MODEL=gemini-2.5-flash
MOCK_LLM=False

# Optional: Needed only for cloud deployment to Google Cloud Vertex AI
# GOOGLE_CLOUD_LOCATION=us-central1
